<header class="header-6">
  <div class="header-center header-nav">
    <nav class="btn-group">
      <a
        [routerLink]="'/employees/tree'"
        class="btn"
        routerLinkActive="btn-primary"
      >
        <cds-icon shape="users" solid="true"></cds-icon>
        Graph View
      </a>
      <a
        [routerLink]="'employees/table'"
        class="btn"
        routerLinkActive="btn-primary"
      >
        <cds-icon shape="table"></cds-icon>
        Grid View
      </a>
    </nav>
  </div>
</header>

<router-outlet />
