<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="onModalClose()">
  <h3 class="modal-title">Add New Reportee</h3>
  <div class="modal-body">
    <p>Add a new employee who will report directly to this person. Provide details like name, designation, email and
      phone to create their profile in the organization chart.</p>
    <form clrForm clrLayout="horizontal" clrLabelSize="4">
      <clr-input-container>
        <label>Manager name</label>
        <label>Some manager Name</label>
        <!-- <input clrInput type="text" name="managerName" required /> -->
        <clr-control-error>Enter Manager Name</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Employee name</label>
        <input clrInput type="text" name="employeeName" required />
        <clr-control-error>Enter Employee Name</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Designation</label>
        <input clrInput type="text" name="designation" required />
        <clr-control-error>Enter Designation</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Email ID</label>
        <input clrInput type="text" name="emailId" required />
        <clr-control-error>Enter Email ID</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Phone Number</label>
        <input clrInput type="text" name="phoneNumber" required />
        <clr-control-error>Enter Phone Number</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onAddReporteeBtnClick()">Add Reportee</button>
  </div>
</clr-modal>