<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="onModalClose()">
  <h3 class="modal-title">Add New Reportee</h3>
  <div class="modal-body">
    <p>Add a new employee who will report directly to this person. Provide details like name, designation, email and
      phone to create their profile in the organization chart.</p>
    <form clrForm clrLayout="horizontal" clrLabelSize="4" [formGroup]="employeeForm">
      <clr-input-container>
        <label>Employee name</label>
        <input clrInput type="text" formControlName="employeeName" required />
        <clr-control-error>Enter Employee Name</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Employee name</label>
        <label>{{employee?.employeeId}}</label>
      </clr-input-container>
      <clr-select-container>
        <label>Designation</label>
        <select clrSelect name="options" formControlName="designation">
          <option value="" disabled>Select Designation</option>
          <option value="CEO">CEO</option>
          <option value="CFO">CFO</option>
          <option value="CTO">CTO</option>
          <option value="Finance Manager">Finance Manager</option>
          <option value="Engineering Manager">Engineering Manager</option>
          <option value="Team Lead">Team Lead</option>
          <option value="Finance Manager">Finance Manager</option>
        </select>
        <clr-control-error>Select Designation</clr-control-error>
      </clr-select-container>
      <clr-input-container>
        <label>Email ID</label>
        <input clrInput type="text" name="emailId" formControlName="email" required />
        <clr-control-error>Enter Email ID</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Phone Number</label>
        <input clrInput type="text" name="phoneNumber" formControlName="phone" required />
        <clr-control-error>Enter Phone Number</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onEditBtnClick()">Edit</button>
  </div>
</clr-modal>